.current-page {
  position: relative;
  color: var(--accent-color);
}

.current-page::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
